# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# временные файлы
*.log
*.tmp
# папка .idea
.idea/
# data source files
data.base.properties
